<h1>Url Shorty</h1>
<div class="main-body">
  <mat-form-field class="example-full-width">
    <mat-label>Original Url</mat-label>
    <input
      [(ngModel)]="urlInput"
      matInput
      placeholder="Ex. http://www.test.org"
      [maxLength]="150"
    />
  </mat-form-field>

  <button (click)="createButtonClick()" mat-fab extended>Create</button>
</div>

<div class="result">
  <p *ngIf="urlOutput !== ''">{{ urlOutput }}</p>
</div>

<div class="main-css-test">
  <div class="join-our padding-20">
    <h2>Join our community</h2>
    <h3>30-day, hassle free money back guarantee</h3>
    <p>
      Gain access to our full library of tutorials along with expert code
      reviews. Perfect for any developers who are serious about honing their
      skills
    </p>
  </div>
  <div class="monthly-sub padding-20 color-white">
    <h4>Monthly Subscriptions</h4>
    <div>
      <div class="dollar-sub">$29</div>
      <div>per month</div>
    </div>
    <p>Full access for less than $1 a day</p>
    <button>Sign Up</button>
  </div>
  <div class="why-us padding-20 color-white">
    <h4>Why Us</h4>
    <ul>
      <li>Tutorials by industry experts</li>
      <li>Peer &amp; expert code review</li>
      <li>Coding exercises</li>
      <li>Access to our GitHub repos</li>
      <li>Community Forum</li>
      <li>Flashcard decks</li>
      <li>New videos every week</li>
    </ul>
  </div>
</div>
